:root {
  --primary: #FD2D5F;
  --negro: #262626;
  --blanco: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
  margin: 0px;
  background-color: rgb(248 250 252);
}
img {
  max-width: 100%;
}


[class*="flexible"] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

[class*="contenedor"] {
  margin: 0 auto;
  width: 95%;
  padding: 1rem;
  
}

